@import "variables";

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.page-content {
  flex-grow: 1;
  flex-shrink: 1;
  min-height: 0;
}

.text-container {
  padding: 0 1.5em;
  max-height: 100%;
  overflow-y: scroll;
}

h1, h2, h3, h4 {
  margin: 0;
  font-weight: 500;
}

small {
  font-size: 0.6em;
}

p {
  margin: 0;
}

a {
  color: $ui-text-colour;
  text-decoration: none;
  font-weight: bold;
  -webkit-app-region: no-drag;
  outline: none;
}

a .fab {
  font-weight: normal;
}

.tag {
  font-size: 0.5em;
  padding: 0.1em 0.25em;
  background-color: $ui-text-colour;
  color: #000;
  border-radius: 3px;
}

.contributors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contributor {
  padding: 0.5em 1.5em;
  flex-shrink: 1;
  text-align: center;
  font-size: 1.25em;
}

.contributor-subtext {
  font-size: 0.75em;
}
