$ui-background-colour: #111;
$ui-text-colour: #ddd;
$ui-highlight-text-colour: #fff;
$ui-muted-text-colour: #aaa;
$ui-primary-colour-bg: #bb5599;
$ui-secondary-colour-bg: #999;
$ui-dark-colour-bg: #1e1e1e;
$ui-danger-colour-bg: #eb4d4b;
$ui-warning-colour-bg: #f0932b;
$ui-success-colour-bg: #6ab04c;

$ui-highlight-gradient: linear-gradient(315deg, rgba(187, 85, 153, 0.5), rgba(73, 50, 64, 0.5));
$ui-danger-gradient: linear-gradient(315deg, rgba(235, 77, 75, 0.5), rgba(210, 25, 23, 0.5));
$ui-warning-gradient: linear-gradient(315deg, rgba(240, 147, 43, 0.5), rgba(214, 132, 39, 0.5));
