$ui-background-colour: #fff;
$ui-text-colour: #222;
$ui-muted-background-colour: #ddd;
$ui-muted-text-colour: #999;
$ui-primary-colour-bg: #bb5599;
$ui-secondary-colour-bg: #999;
$ui-dark-colour-bg: #1e1e1e;
$ui-danger-colour-bg: #eb4d4b;
$ui-warning-colour-bg: #f0932b;
$ui-success-colour-bg: #6ab04c;

// region Overrides
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  user-select: none;
}

html, body, #app {
  height: 100%;
}

// endregion

// region Navbar

.navbar {
  background-image: linear-gradient(315deg, #bb5599, #493240);
  color: $ui-background-colour;
  -webkit-app-region: drag;
  display: flex;
}

.navbar > div {
  padding: 0.5em;
}

.navbar img {
  vertical-align: middle;
}

.nav-links {
  display: flex;
  height: 100%;
  font-size: 1.25em;
  flex-grow: 1;
}

.nav-links div {
  height: 100%;
  padding: 0.5em;
  -webkit-app-region: no-drag;
  color: #ccc;
  cursor: pointer;
}

.nav-links div.active {
  color: #fff;
  text-shadow: 0 0 10px #fff;
}

.window-buttons {
  z-index: 99;
  display: flex;
  color: #fff;
  font-weight: bold;
  padding: 0.1em;
  -webkit-app-region: no-drag;
}

.window-buttons div {
  padding: 0.5em;
  cursor: pointer;
}

// endregion

// region Content
#app {
  display: flex;
  flex-direction: column;
}

.page-content {
  flex-grow: 1;
}

h1, h2, h3, h4 {
  margin: 0;
  font-weight: 500;
}

p {
  margin: 0;
}
// endregion

// region Mod list
.mod-viewer-pane {
  display: flex;
  height: 100%;
  flex-grow: 1;
}

.mod-viewer-mod-list {
  width: 25%;
  height: 100%;
  padding: 1em;
}

.mod-viewer-mod-display {
  flex-grow: 1;
  padding: 1em;
}

.mod-view-mod-list-title {
  padding: 0.25em 0.25em 0;
  font-weight: bold;
  text-transform: uppercase;
  color: $ui-muted-text-colour;
}

.mod-view-mod-list-entry {
  padding: 0.25em 0.5em;
  cursor: pointer;
  width: 100%;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  border-radius: 3px;
}

.mod-view-mod-list-entry.active {
  background-color: $ui-primary-colour-bg;
  color: $ui-background-colour;
}

// endregion

// region buttons

button {
  font-family: "Segoe UI", sans-serif;
  color: $ui-background-colour;
  user-select: none;
  display: inline-block;
  text-decoration: none;
  padding: 0.5em 1em;
  font-size: 14px;
  cursor: pointer;
  border-radius: 3px;
  text-align: center;
  font-weight: normal;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 0.25s;
}

button.huge {
  font-size: 1.25em;
}

button.primary {
  background-color: $ui-primary-colour-bg;
}

button.primary:hover {
  background-color: darken($ui-primary-colour-bg, 10%);
}

button.secondary {
  background-color: $ui-background-colour;
  color: $ui-text-colour;
}

button.secondary:hover {
  background-color: darken($ui-background-colour, 10%);
}

button.dark {
  background-color: $ui-dark-colour-bg;
}

button.dark:hover {
  background-color: darken($ui-dark-colour-bg, 10%);
}

button.danger {
  background-color: $ui-danger-colour-bg;
}

button.danger:hover {
  background-color: darken($ui-danger-colour-bg, 10%);
}

button.warning {
  background-color: $ui-warning-colour-bg;
}

button.warning:hover {
  background-color: darken($ui-warning-colour-bg, 10%);
}

button.success {
  background-color: $ui-success-colour-bg;
}

button.success:hover {
  background-color: darken($ui-success-colour-bg, 10%);
}
// endregion