* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  user-select: none;
}

// region Navbar

.navbar {
  background-image: linear-gradient(315deg, #bb5599, #493240);
  color: #fff;
  -webkit-app-region: drag;
  display: flex;
}

.navbar > div {
  padding: 0.5em;
}

.navbar img {
  vertical-align: middle;
}

.nav-links {
  display: flex;
  height: 100%;
  font-size: 1.5em;
  flex-grow: 1;
}

.nav-links div {
  height: 100%;
  padding: 0.5em;
  -webkit-app-region: no-drag;
  color: #ccc;
  cursor: pointer;
}

.nav-links div.active {
  color: #fff;
  text-shadow: 0 0 10px #fff;
}

.window-buttons {
  z-index: 99;
  display: flex;
  color: #fff;
  font-weight: bold;
  padding: 0.1em;
  -webkit-app-region: no-drag;
}

.window-buttons div {
  padding: 0.5em;
  cursor: pointer;
}

// endregion

// region Content
h1, h2, h3, h4 {
  margin: 0;
  font-weight: 500;
}
// endregion