<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doki Doki Mod Manager!</title>

    <link href="../../../node_modules/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="../css/app.css" rel="stylesheet">
</head>
<body>
<div id="app" :class="{'light-theme': ui.theme === 'light', 'dark-theme': ui.theme === 'dark'}">
    <div v-if="!ui.ready" class="cloak">
        <h1>Loading...</h1>
    </div>
    <div class="toolbar" role="toolbar">
        <div class="toolbar-group">
            <div class="toolbar-button" @click="ui.side_sheets.install = true" role="button">
                <div class="toolbar-button-icon"><i class="fas fa-plus"></i></div>
                <div class="toolbar-button-text">{{_("toolbar.button_get_mods")}}</div>
            </div>

            <div class="toolbar-button" @click="ui.side_sheets.downloads = true" role="button">
                <div class="toolbar-button-icon">
                    <i class="fas fa-cloud-download-alt"></i>
                </div>
                <div class="toolbar-button-text">{{_("toolbar.button_mod_library")}}</div>
            </div>
        </div>

        <div class="toolbar-group" v-if="ui.debug_features">
            <div class="toolbar-button" @click="crashMainProcess" role="button">
                <div class="toolbar-button-icon"><i class="fas fa-bug"></i></div>
                <div class="toolbar-button-text">{{_("toolbar.button_debug_crash")}}</div>
            </div>

            <div class="toolbar-button" @click="openDevTools" role="button">
                <div class="toolbar-button-icon"><i class="fas fa-code"></i></div>
                <div class="toolbar-button-text">{{_("toolbar.button_devtools")}}</div>
            </div>

            <div class="toolbar-button" @click="ui.side_sheets.inference = true" role="button">
                <div class="toolbar-button-icon"><i class="fas fa-search"></i></div>
                <div class="toolbar-button-text">{{_("toolbar.button_inference")}}</div>
            </div>

            <div class="toolbar-button" @click="ui.side_sheets.uikit = true" role="button">
                <div class="toolbar-button-icon"><i class="fas fa-palette"></i></div>
                <div class="toolbar-button-text">{{_("toolbar.button_ui_kit")}}</div>
            </div>
        </div>

        <div class="toolbar-group">
            <div class="toolbar-button" @click="ui.side_sheets.feedback = true" role="button">
                <div class="toolbar-button-icon"><i class="fas fa-comment"></i></div>
                <div class="toolbar-button-text">{{_("toolbar.button_feedback")}}</div>
            </div>

            <div class="toolbar-button" @click="ui.side_sheets.settings = true" role="button">
                <div class="toolbar-button-icon"><i class="fas fa-cog"></i></div>
                <div class="toolbar-button-text">{{_("toolbar.button_settings")}}</div>
            </div>

            <div class="toolbar-button" @click="ui.side_sheets.about = true" role="button">
                <div class="toolbar-button-icon"><i class="fas fa-info-circle"></i></div>
                <div class="toolbar-button-text">{{_("toolbar.button_about")}}</div>
            </div>
        </div>
    </div>
    <div v-if="ui.banner.active" :class="{'banner': true, 'clickable': ui.banner.url}">
        <div class="message" @click="bannerClick">
            <div>{{ui.banner.message}}</div>
        </div>
        <div class="close" @click="bannerDismiss"><i class="fas fa-times"></i></div>
    </div>

    <div class="search">
        <input type="text" :title="_('install.placeholder_search')" :placeholder="_('install.placeholder_search')"
               v-model="ui.search.installs" @focus="ui.search.installs = ''">
    </div>

    <div class="content">
        <div>
            <div v-for="install in filteredInstalls">
                <h3>{{install.installName}}</h3>
                <p><a href="javascript:;" @click="openFolder(install.fullFolderName)">{{install.fullFolderName}}</a></p>
                <p><span v-if="install.globalSave"><strong>{{_("install.status_global_save")}}</strong> - </span>{{_("install.status_installed")}}
                </p>
                <button class="primary" @click="launchInstall(install.folderName)">{{_("install.button_play")}}</button>
                <button class="secondary"
                        @click="ui.selected_install = install.folderName; ui.side_sheets.save_management = true">
                    {{_("install.button_settings")}}
                </button>
                <button class="secondary" v-if="install.achievements"
                        @click="ui.selected_install = install.folderName; ui.side_sheets.achievements = true">
                    {{_("install.button_achievements")}}
                </button>
                <button class="danger"
                        @click="ui.selected_install = install.folderName; ui.modals.delete_install = true">
                    {{_("install.button_uninstall")}}
                </button>
                <hr>
            </div>
        </div>
        <div v-if="filteredInstalls.length === 0 && installs.length > 0" class="muted text-center">
            <h3>{{_("install.error_no_results_heading")}}</h3>
            <p>{{_("install.error_no_results_description")}}</p>
        </div>
        <div v-if="installs.length === 0" class="muted text-center">
            <h3>{{_("install.error_no_installs_heading")}}</h3>
            <p>{{_("install.error_no_installs_description")}}</p>
        </div>
    </div>

    <div class="download-progress" v-if="download.downloading">
        <div class="bar" :style="{'width': roundedPercentage(download.received_bytes, download.total_bytes) + '%'}">
            {{_("download.message_progress", download.filename, roundedPercentage(download.received_bytes,
            download.total_bytes))}}
        </div>
    </div>

    <div :class="{'toast': true, 'visible': ui.toast.visible}" v-html="ui.toast.message"></div>

    <div :class="{'side-sheet': true, 'active': ui.side_sheets.uikit, 'bottom':true}">
        <div class="side-sheet-background"></div>
        <div class="side-sheet-container">
            <div class="side-sheet-header">
                {{_("ui_kit.title")}}
            </div>
            <div class="side-sheet-content">
                <div class="highlight danger">
                    <p>This UI kit is intended to demonstrate UI components, and does not have any translations.</p>
                </div>
                <p>This is the UI design kit for Doki Doki Mod Manager v2. It contains information on where and when
                    certain reusable UI elements should be used.</p>
                <hr>
                <h1>Header 1</h1>
                <h2>Header 2</h2>
                <h3>Header 3</h3>
                <h4>Header 4</h4>
                <p>Body copy. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur dignissimos,
                    veritatis. Accusamus aliquam cum dolor magnam sed! Consequatur corporis cupiditate dolorem ea
                    incidunt ipsum perspiciatis soluta? Commodi dignissimos molestiae perferendis!</p>
                <hr>
                <h3>Contextual alternatives</h3>
                <p>Most coloured UI elements have contextual alternative colours. These should be used to indicate the
                    severity of an action or outcome of an event.</p>
                <ul>
                    <li>Primary - should represent the main action, like a submit button.</li>
                    <li>Secondary - should represent an alternative action, like a cancel button.</li>
                    <li>Danger - should represent a negative or dangerous action, like a deletion.</li>
                    <li>Warning - should represent a questionable action, like closing the game when it is running.</li>
                    <li>Success - should represent a positive action, like installing an update.</li>
                </ul>
                <hr>
                <h3>Buttons</h3>
                <p>This is what the button styles look like.</p>
                <button class="primary">Primary</button>
                <button class="secondary">Secondary</button>
                <button class="danger">Danger</button>
                <button class="warning">Warning</button>
                <button class="success">Success</button>
                <hr>
                <div class="highlight success">
                    <h3>Highlight: Success</h3>
                    <p>Use this to draw attention to actions that aren't usually available. Pair it with the success
                        button class.</p>
                    <button class="success">Install Update</button>
                </div>

                <div class="highlight warning">
                    <h3>Highlight: Warning</h3>
                    <p>Use this to draw attention to actions that may be temporarily disruptive. Pair it with the
                        warning button class.</p>
                    <button class="warning">Restart Game</button>
                </div>

                <div class="highlight danger">
                    <h3>Highlight: Danger</h3>
                    <p>Use this to draw attention to potentially destructive actions. Pair it with the danger button
                        class.</p>
                    <button class="danger">Delete Save File</button>
                </div>

                <hr>

                <h3>Progress Bars</h3>

                <p>Not Started</p>
                <div class="progress-bar">

                </div>

                <br>

                <p>25% complete</p>
                <div class="progress-bar">
                    <div class="bar" style="width: 25%">&nbsp;</div>
                </div>

                <br>

                <p>Indefinite</p>
                <div class="progress-bar">
                    <div class="bar indefinite">&nbsp;</div>
                </div>

                <hr>

                <h3>Toast Notifications</h3>

                <p>These are temporary, self-closing, Android-inspired notifications that should be shown to provide
                    feedback to a user action.</p>
                <button class="primary" @click="showToast('This is an example of a toast')">Show Example</button>

                <hr>

            </div>
            <div class="side-sheet-footer">
                <button class="primary" @click="ui.side_sheets.uikit = false">{{_("side_sheet_buttons.done")}}</button>
            </div>
        </div>
    </div>

    <div :class="{'side-sheet': true, 'active': ui.side_sheets.inference, 'bottom':true}">
        <div class="side-sheet-background"></div>
        <div class="side-sheet-container">
            <div class="side-sheet-header">
                {{_("inference.title")}}
            </div>
            <div class="side-sheet-content">
                <p>{{_("inference.message_select")}}</p>

                <ul>
                    <li v-for="mod in mods"><a href="javascript:;" @click="testInference(mod)">{{mod}}</a></li>
                </ul>

                <hr>

                <p>{{_("inference.message_mod", ui.inference.mod)}}</p>
                <p>{{_("inference.message_mapper", ui.inference.mapper)}}</p>
                <p>{{_("inference.message_delete", ui.inference.delete.join(", "))}}</p>
            </div>
            <div class="side-sheet-footer">
                <button class="primary" @click="ui.side_sheets.inference = false">{{_("side_sheet_buttons.done")}}
                </button>
            </div>
        </div>
    </div>

    <div :class="{'side-sheet': true, 'active': ui.side_sheets.install, 'left':true}">
        <div class="side-sheet-background"></div>
        <div class="side-sheet-container">
            <div class="side-sheet-header">
                {{_("install_menu.title")}}
            </div>
            <div class="side-sheet-content">
                <h3>{{_("install_menu.subtitle_import")}}</h3>
                <p>{{_("install_menu.description_import")}}</p>
                <button class="primary" @click="importMod">{{_("install_menu.button_import")}}</button>
                <hr>
                <h3>{{_("install_menu.subtitle_install_vanilla")}}</h3>
                <p>{{_("install_menu.description_install_vanilla")}}</p>
                <button class="primary"
                        @click="ui.side_sheets.install = false; ui.selected_mod = null; showInstallDialog();">
                    {{_("install_menu.button_install_vanilla")}}
                </button>
                <hr>
                <h3>{{_("install_menu.subtitle_download_curated")}}</h3>
                <p>{{_("install_menu.description_download_curated")}}</p>
                <br>
                <div v-for="mod in recommended_mods">
                    <h4>{{mod.name}}</h4>
                    <p>{{_("install_menu.description_mod_author", mod.author)}}</p>
                    <p>{{mod.description}}</p>
                    <p style="color: red" v-if="mod.content_warning">{{mod.content_warning}}</p>
                    <p>
                        <button class="primary" @click="downloadMod(mod.url); ui.side_sheets.install = false;">
                            {{_("install_menu.button_download_curated")}}
                        </button>
                    </p>
                    <br>
                </div>
            </div>
            <div class="side-sheet-footer">
                <button class="primary" @click="ui.side_sheets.install = false">{{_("side_sheet_buttons.done")}}
                </button>
            </div>
        </div>
    </div>

    <div :class="{'side-sheet': true, 'active': ui.side_sheets.downloads, 'left':true}">
        <div class="side-sheet-background"></div>
        <div class="side-sheet-container">
            <div class="side-sheet-header">
                {{_("mod_library.title")}}
            </div>
            <div class="side-sheet-content">
                <input type="text" :title="_('mod_library.placeholder_search')"
                       :placeholder="_('mod_library.placeholder_search')"
                       v-model="ui.search.mods" @focus="ui.search.mods = ''">
                <hr>
                <div v-if="filteredMods.length === 0 && mods.length > 0" class="muted text-center">
                    <h3>{{_("mod_library.error_no_results_heading")}}</h3>
                    <p>{{_("mod_library.error_no_results_description")}}</p>
                </div>
                <div v-if="mods.length === 0" class="muted text-center">
                    <h3>{{_("mod_library.error_no_mods_heading")}}</h3>
                    <p>{{_("mod_library.error_no_mods_description")}}</p>
                </div>
                <div v-for="mod in filteredMods">
                    <h3>{{mod}}</h3>
                    <p>{{_("mod_library.status_ready")}}</p>
                    <button class="primary"
                            @click="ui.selected_mod = mod; showInstallDialog()">
                        {{_("mod_library.button_install")}}
                    </button>
                    <button class="danger" @click="ui.selected_mod = mod; ui.modals.delete_mod = true;">
                        {{_("mod_library.button_delete")}}
                    </button>
                    <hr>
                </div>
            </div>
            <div class="side-sheet-footer">
                <button class="primary" @click="ui.side_sheets.downloads = false">{{_("side_sheet_buttons.done")}}
                </button>
            </div>
        </div>
    </div>

    <div :class="{'side-sheet': true, 'active': ui.side_sheets.about, 'right':true}">
        <div class="side-sheet-background"></div>
        <div class="side-sheet-container">
            <div class="side-sheet-header">
                About
            </div>
            <div class="side-sheet-content">
                <div class="text-center">
                    <img src="../images/logo.png" width="200" alt="Doki Doki Mod Manager Logo">
                    <br>
                    <p><strong>{{_("about.message_version", ui.version)}}</strong></p>
                </div>

                <br>

                <p>{{_("about.message_about")}}</p>

                <br>

                <h3>{{_("about.subtitle_disclaimer")}}</h3>
                <p>{{_("about.message_disclaimer_1")}}</p>
                <p>{{_("about.message_disclaimer_2")}}</p>

                <hr>

                <div class="text-center">
                    <img src="../images/discord.png" width="400" alt="Discord Logo">
                    <br>
                    <p>{{_("about.message_discord")}}</p>
                    <br>
                    <button class="huge success" @click="openURL('https://doki.space/discord')">
                        {{_("about.button_discord")}}
                    </button>
                </div>
            </div>
            <div class="side-sheet-footer">
                <button class="primary" @click="ui.side_sheets.about = false">{{_("side_sheet_buttons.done")}}</button>
            </div>
        </div>
    </div>

    <div :class="{'side-sheet': true, 'active': ui.side_sheets.settings, 'right':true}">
        <div class="side-sheet-background"></div>
        <div class="side-sheet-container">
            <div class="side-sheet-header">
                {{_("settings.title")}}
            </div>
            <div class="side-sheet-content">
                <p class="text-center">
                    <strong>{{_("settings.message_version", ui.version)}}</strong>
                </p>
                <div v-if="ui.update.checked">
                    <div class="highlight success" v-if="ui.update.info.success && ui.update.available">
                        <h3>{{_("settings.status_update_available")}}</h3>
                        <p>{{_("settings.description_update_available", ui.update.info.update.updateInfo.version)}}</p>
                        <button class="success" @click="installUpdate" v-if="ui.update.downloaded">
                            {{_("settings.button_update_install")}}
                        </button>
                        <div v-else>
                            <p>{{_("settings.status_update_downloading")}}</p>
                            <div class="progress-bar">
                                <div class="bar indefinite">&nbsp;</div>
                            </div>
                        </div>
                    </div>
                    <div class="highlight secondary" v-else-if="ui.update.info.success">
                        <h3>{{_("settings.status_update_latest")}}</h3>
                        <p>{{_("settings.description_update_latest")}}</p>
                        <button class="primary" @click="checkUpdate">{{_("settings.button_update_retry")}}</button>
                    </div>
                    <div class="highlight warning" v-else>
                        <h3>{{_("settings.status_update_error")}}</h3>
                        <p>{{ui.update.info.reason}}</p>
                        <button class="warning" @click="checkUpdate">{{_("settings.button_update_retry")}}</button>
                    </div>
                </div>
                <div class="highlight dark">
                    <h3>{{_("settings.subtitle_theme_switcher")}}</h3>
                    <p>{{_("settings.description_theme_switcher")}}</p>
                    <button class="dark" @click="ui.side_sheets.settings = false; ui.side_sheets.theme = true">
                        {{_("settings.button_theme_switcher")}}
                    </button>
                </div>
            </div>
            <div class="side-sheet-footer">
                <button class="primary" @click="ui.side_sheets.settings = false">{{_("side_sheet_buttons.done")}}
                </button>
            </div>
        </div>
    </div>

    <div :class="{'side-sheet': true, 'active': ui.side_sheets.feedback, 'right':true}">
        <div class="side-sheet-background"></div>
        <div class="side-sheet-container">
            <div class="side-sheet-header">
                {{_("feedback.title")}}
            </div>
            <div class="side-sheet-content">
                <strong>{{_("feedback.label_feedback_type")}}</strong>
                <p><label><input type="radio" name="feedback-type" value="question" v-model="ui.feedback.type">
                    {{_("feedback.label_feedback_type_question")}}</label>
                    <label><input type="radio" name="feedback-type" value="suggestion" v-model="ui.feedback.type">
                        {{_("feedback.label_feedback_type_suggestion")}}</label>
                    <label><input type="radio" name="feedback-type" value="bug" v-model="ui.feedback.type">
                        {{_("feedback.label_feedback_type_bug")}}</label>
                </p>
                <div class="highlight success" v-if="ui.feedback.type === 'bug'">
                    {{_("feedback.description_bug_format_intro")}}
                    <ul>
                        <li>{{_("feedback.description_bug_format_point1")}}</li>
                        <li>{{_("feedback.description_bug_format_point2")}}</li>
                        <li>{{_("feedback.description_bug_format_point3")}}</li>
                        <li>{{_("feedback.description_bug_format_point4")}}</li>
                    </ul>
                </div>
                <br>
                <strong>{{_("feedback.label_feedback")}}</strong>
                <p><textarea v-model="ui.feedback.body" title=""
                             :placeholder="_('feedback.placeholder_feedback')" rows="5" maxlength="1000"></textarea></p>
                <br>
                <strong>{{_("feedback.label_contact")}}</strong>
                <p><input type="text" v-model="ui.feedback.contact" :placeholder="_('feedback.placeholder_contact')"
                          :title="_('feedback.placeholder_contact')" maxlength="64"></p>
                <p>{{_("feedback.description_contact")}}</p>
            </div>
            <div class="side-sheet-footer">
                <button class="primary" @click="submitFeedback">{{_("side_sheet_buttons.submit")}}</button>
                <button class="secondary" @click="ui.side_sheets.feedback = false">{{_("side_sheet_buttons.cancel")}}
                </button>
            </div>
        </div>
    </div>

    <div :class="{'side-sheet': true, 'active': ui.side_sheets.onboarding, 'bottom':true}">
        <div class="side-sheet-background"></div>
        <div class="side-sheet-container">
            <div class="side-sheet-header">
                {{_("onboarding.title")}}
            </div>
            <div class="side-sheet-content">
                <div class="text-center" v-if="!ui.onboarding.downloading">
                    <p>{{_("onboarding.paragraph_1")}}</p>
                    <br>
                    <p>{{_("onboarding.paragraph_2")}}</p>
                    <br>
                    <p><strong>{{_("onboarding.paragraph_steam")}}</strong></p>
                    <br>
                    <button class="huge primary" @click="downloadGame">{{_("onboarding.button_download")}}</button>
                    <button class="huge secondary" @click="importGame">{{_("onboarding.button_find")}}</button>
                </div>
                <div v-else>
                    <div v-if="download.downloading" class="text-center">
                        <p><strong>{{_("onboarding.message_downloading", roundedPercentage(download.received_bytes,
                            download.total_bytes))}}</strong></p>
                        <br>
                        <div class="progress-bar">
                            <div :class="{'bar':true, 'indefinite': download.total_bytes === 0}"
                                 :style="{'width': roundedPercentage(download.received_bytes, download.total_bytes) + '%'}">
                                &nbsp;
                            </div>
                        </div>
                    </div>
                    <div v-else-if="download.has_download_completed" class="text-center">
                        <p>{{_("onboarding.message_complete")}}</p>
                        <br>
                        <p>
                            <button class="huge primary" @click="ui.side_sheets.onboarding = false">
                                {{_("onboarding.button_start")}}
                            </button>
                        </p>
                    </div>
                    <div v-else class="text-center">
                        {{_("onboarding.message_starting")}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div :class="{'side-sheet': true, 'active': ui.side_sheets.save_management, 'left':true}">
        <div class="side-sheet-background"></div>
        <div class="side-sheet-container">
            <div class="side-sheet-header" v-if="selectedInstall">
                {{selectedInstall.installName}}
            </div>
            <div class="side-sheet-content" v-if="selectedInstall">
                <div class="highlight warning">
                    <h3>{{_("save_management.subtitle_firstrun_delete")}}</h3>
                    <p>{{_("save_management.description_firstrun_delete")}}</p>
                    <button class="warning" @click="deleteFirstrun(selectedInstall.folderName)">
                        {{_("save_management.button_firstrun_delete")}}
                    </button>
                </div>

                <div class="highlight danger">
                    <h3>{{_("save_management.subtitle_save_delete")}}</h3>
                    <div v-if="!selectedInstall.globalSave">
                        <p>{{_("save_management.description_save_delete")}}</p>
                        <button class="danger" @click="ui.modals.delete_save = true">
                            {{_("save_management.button_save_delete")}}
                        </button>
                    </div>
                    <p v-else>{{_("save_management.description_save_delete_global")}}</p>
                </div>
            </div>
            <div class="side-sheet-footer">
                <button class="primary" @click="ui.side_sheets.save_management = false">
                    {{_("side_sheet_buttons.done")}}
                </button>
            </div>
        </div>
    </div>

    <div :class="{'side-sheet': true, 'active': ui.side_sheets.achievements, 'left':true}">
        <div class="side-sheet-background"></div>
        <div class="side-sheet-container">
            <div class="side-sheet-header" v-if="selectedInstall && selectedInstall.achievements">
                {{_("achievements.title", selectedInstall.achievements.filter(a => a.earned).length,
                selectedInstall.achievements.length)}}
            </div>
            <div class="side-sheet-content" v-if="selectedInstall && selectedInstall.achievements">
                <div v-for="achievement in selectedInstall.achievements" :class="{'muted': !achievement.earned}">
                    <h3>{{achievement.name}}</h3>
                    <p>{{achievement.description}}</p>
                    <p v-if="achievement.earned">{{_("achievements.status_unlocked")}}</p>
                    <p v-else>{{_("achievements.status_locked")}}</p>
                    <hr>
                </div>
            </div>
            <div class="side-sheet-footer">
                <button class="primary" @click="ui.side_sheets.achievements = false">
                    {{_("side_sheet_buttons.done")}}
                </button>
            </div>
        </div>
    </div>

    <div :class="{'side-sheet': true, 'active': ui.side_sheets.theme, 'bottom':true}">
        <div class="side-sheet-background"></div>
        <div class="side-sheet-container">
            <div class="side-sheet-header">
                {{_("theme_switcher.title")}}
            </div>
            <div class="side-sheet-content">
                <div :class="{'theme-switcher-theme': true, 'selected': ui.theme === 'light', 'theme-light': true}"
                     @click="ui.theme = 'light'; saveThemeConfig()">
                    <span class="theme-switcher-theme-name">
                        {{_("theme_switcher.button_light")}}
                    </span>
                    <div class="theme-switcher-theme-selected-indicator">
                        <span class="theme-switcher-theme-selected-indicator-check"></span>
                    </div>
                </div>
                <div :class="{'theme-switcher-theme': true, 'selected': ui.theme === 'dark', 'theme-dark': true}"
                     @click="ui.theme = 'dark'; saveThemeConfig()">
                    <span class="theme-switcher-theme-name">
                        {{_("theme_switcher.button_dark")}}
                    </span>
                    <div class="theme-switcher-theme-selected-indicator">
                        <span class="theme-switcher-theme-selected-indicator-check"></span>
                    </div>
                </div>
            </div>
            <div class="side-sheet-footer">
                <button class="primary" @click="ui.side_sheets.theme = false">{{_("side_sheet_buttons.done")}}</button>
            </div>
        </div>
    </div>

    <div :class="{'modal': true, 'active': ui.modals.delete_save}">
        <div class="modal-background"></div>
        <div class="modal-container">
            <div class="modal-content" v-if="selectedInstall">
                <h3>{{_("save_delete_modal.title")}}</h3>
                <p>{{_("save_delete_modal.body", selectedInstall.installName)}}</p>
                <br>
                <button class="danger" @click="deleteSave(selectedInstall.folderName); ui.modals.delete_save = false">
                    {{_("side_sheet_buttons.yes")}}
                </button>
                <button class="secondary" @click="ui.modals.delete_save = false">
                    {{_("side_sheet_buttons.no")}}
                </button>
            </div>
        </div>
    </div>

    <div :class="{'modal': true, 'active': ui.modals.delete_install}">
        <div class="modal-background"></div>
        <div class="modal-container">
            <div class="modal-content" v-if="selectedInstall">
                <h3>{{_("uninstall_modal.title")}}</h3>
                <p>
                    {{_("uninstall_modal.body", selectedInstall.installName)}}
                    <span v-if="!selectedInstall.globalSave">{{_("uninstall_modal.body_local_save")}}</span>
                </p>
                <br>
                <button class="danger"
                        @click="deleteInstall(selectedInstall.folderName); ui.modals.delete_install = false">
                    {{_("side_sheet_buttons.yes")}}
                </button>
                <button class="secondary" @click="ui.modals.delete_install = false">{{_("side_sheet_buttons.no")}}
                </button>
            </div>
        </div>
    </div>

    <div :class="{'modal': true, 'active': ui.modals.delete_mod}">
        <div class="modal-background"></div>
        <div class="modal-container">
            <div class="modal-content" v-if="ui.selected_mod">
                <h3>{{_("mod_delete_modal.title")}}</h3>
                <p>{{_("mod_delete_modal.body", ui.selected_mod)}}</p>
                <br>
                <button class="danger"
                        @click="deleteMod(ui.selected_mod); ui.modals.delete_mod = false">
                    {{_("side_sheet_buttons.yes")}}
                </button>
                <button class="secondary" @click="ui.modals.delete_mod = false">
                    {{_("side_sheet_buttons.no")}}
                </button>
            </div>
        </div>
    </div>

    <div :class="{'modal': true, 'active': ui.modals.create_install}">
        <div class="modal-background"></div>
        <div class="modal-container">
            <div class="modal-content">
                <h3>{{_("create_install_modal.title")}}</h3>
                <br>
                <p>{{_("create_install_modal.message_descriptive")}}</p>
                <br>
                <p v-if="ui.selected_mod">{{_("create_install_modal.message_installing_mod", ui.selected_mod)}}</p>
                <p v-else>{{_("create_install_modal.message_installing_vanilla")}}</p>
                <br>
                <strong>{{_("create_install_modal.label_install_name")}}</strong>
                <p><input type="text" v-model="ui.install_creation.install_name" @keyup="generateFolderName"
                          :title="_('create_install_modal.label_install_name')"></p>
                <br>
                <strong>{{_("create_install_modal.label_install_folder")}}</strong>
                <p><input type="text" v-model="ui.install_creation.folder_name"
                          :title="_('create_install_modal.label_install_folder')"></p>
                <br>
                <p><label :title="_('create_install_modal.description_global_save')"><input type="checkbox"
                                                                                            v-model="ui.install_creation.global_save">
                    {{_("create_install_modal.label_global_save")}}</label></p>
                <br>
                <button class="primary"
                        @click="ui.modals.create_install = false; createInstall(ui.install_creation.folder_name, ui.install_creation.install_name, ui.install_creation.global_save)">
                    {{_("side_sheet_buttons.install")}}
                </button>
                <button class="secondary" @click="ui.modals.create_install = false">{{_("side_sheet_buttons.cancel")}}</button>
            </div>
        </div>
    </div>

    <div :class="{'modal': true, 'active': ui.loading_modal.display}">
        <div class="modal-background"></div>
        <div class="modal-container">
            <div class="modal-content">
                <h3>{{ui.loading_modal.title}}</h3>
                <p>{{ui.loading_modal.message}}</p>
                <br>
                <div class="progress-bar">
                    <div class="bar indefinite">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>

    <div :class="{'running-cover': true, 'active': ui.running_cover}">
        <h1>{{_("running_cover.title")}}</h1>
        <p>{{_("running_cover.message_close_game")}}</p>
        <p>
            <button class="primary">{{_("running_cover.button_browse_files")}}</button>
        </p>
    </div>
</div>

<script src="https://www.gstatic.com/firebasejs/5.3.0/firebase.js"></script>
<script>
    // Initialize Firebase
    const config = {
        apiKey: "AIzaSyDInikDCCVFIhpAMPEBaaRmx_p2ZLX-6GY",
        authDomain: "doki-doki-mod-manager.firebaseapp.com",
        databaseURL: "https://doki-doki-mod-manager.firebaseio.com",
        projectId: "doki-doki-mod-manager",
        storageBucket: "doki-doki-mod-manager.appspot.com",
        messagingSenderId: "324232265869"
    };
    firebase.initializeApp(config);
</script>
<script src="../js/app.js"></script>
</body>
</html>